<div class="fl-ns w-33-ns ph2">
  <article class="card mb-4 shadow-sm border-0">
    <a href="{{ .Permalink }}">
      <img class="card-img-top img-fluid" src="{{ if and (.Params.image) (ne .Params.image "") }}{{ .Params.image }}{{ else }}/img/theme/thumb.png{{ end }}" alt="">
    </a>

    <div class="card-body">
      <a href="{{ .Permalink }}">
        <h3>{{ .Title }}</h3>
      </a>
      
      <p class="meta">
        {{ if not .Date.IsZero }} {{ .Date.Format "02 Jan 2006" | upper }} {{end}}
        <span class="category">
        {{ if isset .Params "categories" }}
        {{ $total := len .Params.categories }}
        {{ if gt $total 0 }}
        —
        {{ $total := sub $total 1 }}
        {{ range $i, $cat := sort .Params.categories }}
        <a class="category" href="{{ "/categories/" | relURL }}{{ $cat | humanize | urlize }}">{{ $cat | upper }}</a>{{ if lt $i $total }}, {{ end }}
        {{ end }}
        {{ end }}
        {{ end }}
        </span>
      </p>
      <p class="summary">{{ if .IsPage }}{{slicestr .Summary 0 200}}...{{ else }}{{ .Site.Params.description }}{{ end }}</p>
    </div>
    
  </article>
</div>
