{{ partial "header.html" . }}

<div class="homepage">

  <section>
    <div>
      <img src="{{ .Site.BaseURL }}img/{{ .Site.Params.pageLogo }}" alt="{{ .Site.Params.title }}">
    </div>
    <!-- <h1 id="title">{{ .Site.Title }}</h1> -->

    <div class="container">
      <p>
        <a href="/resources/flutter">Flutter</a> developer/Front-end web developer.
      </p>
    </div>
    
    <div class="container">
      <p>
        Contact me at <a href="http://twitter.com/{{ .Site.Params.social.twitter }}">@{{ .Site.Params.Social.Twitter }}</a> or by <a href="mailto:{{ .Site.Params.social.email }}">email</a>.
      </p>
    </div>
    
    {{ partial "social.html" . }}
    {{ partial "footer.html" . }}
  </section>

</div>

  
