{{ partial "header.html" . }}

<div class="homepage">

  <section>
    <div class="avatar">
      <img class="rounded-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.logo }}" alt="{{ .Site.Params.title }}">
    </div>
    <!-- <h1 id="title">{{ .Site.Title }}</h1> -->

    <div class="container">
      <p>
        Hello! I'm <strong>{{ .Site.Params.author }}</strong>, 
        a front-end developer with a focus on web/mobile applications.
      </p>
    </div>
    
    <div class="container">
      <p>
        Contact me at <a href="http://twitter.com/{{ .Site.Params.social.twitter }}">@{{ .Site.Params.Social.Twitter }}</a>.
      </p>
    </div>
    
    {{ partial "social.html" . }}
    {{ partial "footer.html" . }}
  </section>

</div>

  
