{{ partial "header.html" . }}

  <section class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            <img src="/img/airship2.png" alt="Airship">
          </div>
    
          <div class="col-md-6 text-404">
            <h1 id="title">It appears that you are lost...</h1>
            <p>
              Did you make a left turn at that last page instead of a right? Don't worry, why don't you just head back home.
            </p>
            <p>
              <a href="/" >Go back to the homepage</a>
            </p>
          </div>
      </div>
    </div>
  </section>

{{ partial "footer.html" . }}
